## Reading CSV Files with Encodings

In [153]:
import pandas as pd

In [154]:
laptops = pd.read_csv("laptops.csv", encoding='Latin-1')
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   object
 7    Storage                  1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price (Euros)             1303 non-null   object
dtypes: object(13)
memory usage: 132.5+ KB

## Cleaning Column Names

In [155]:
laptops['Operating System Version'].value_counts()

10      1072
7         45
10 S       8
X          8
Name: Operating System Version, dtype: int64

**Strip the whitespaces in the column**

In [156]:
new_columns = []
new_columns = laptops.columns.map(lambda x:x.strip()).tolist()
laptops.columns = new_columns

In [157]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   object
 7   Storage                   1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price (Euros)             1303 non-null   object
dtypes: object(13)
memory usage: 132.5+ KB

## Cleaning Column Names Continued

In [158]:
def clean_col(col):
    col = col.strip()
    col = col.replace("Operating System", "os")
    col = col.replace(" ", "_")
    col = col.replace("(","")
    col = col.replace(")","")
    col = col.lower()
    return col

new_columns = []
for c in laptops.columns:
    clean_c = clean_col(c)
    new_columns.append(clean_c)

laptops.columns = new_columns
print(laptops.columns)

Index(['manufacturer', 'model_name', 'category', 'screen_size', 'screen',
       'cpu', 'ram', 'storage', 'gpu', 'os', 'os_version', 'weight',
       'price_euros'],
      dtype='object')

## Converting String Columns to Numeric

In [159]:
print(laptops["screen_size"].dtype)
print(laptops["screen_size"].unique())

object
['13.3"' '15.6"' '15.4"' '14.0"' '12.0"' '11.6"' '17.3"' '10.1"' '13.5"'
 '12.5"' '13.0"' '18.4"' '13.9"' '12.3"' '17.0"' '15.0"' '14.1"' '11.3"']

In [160]:
unique_ram = laptops['ram'].unique()
unique_ram

array(['8GB', '16GB', '4GB', '2GB', '12GB', '6GB', '32GB', '24GB', '64GB'],
      dtype=object)

In [161]:
laptops['screen_size'] = laptops['screen_size'].str.replace('"', '')
unique_screen_size = laptops['screen_size'].unique()
unique_screen_size

array(['13.3', '15.6', '15.4', '14.0', '12.0', '11.6', '17.3', '10.1',
       '13.5', '12.5', '13.0', '18.4', '13.9', '12.3', '17.0', '15.0',
       '14.1', '11.3'], dtype=object)

In [162]:
laptops['ram'] = laptops['ram'].str.replace('GB', '')
unique_ram = laptops['ram'].unique()
unique_ram

array(['8', '16', '4', '2', '12', '6', '32', '24', '64'], dtype=object)

## Converting Columns to Numeric Dtypes

In [163]:
laptops['ram'] = laptops['ram'].astype('int')
laptops['screen_size'] = laptops['screen_size'].astype('float')

dtypes = laptops.dtypes
dtypes

manufacturer     object
model_name       object
category         object
screen_size     float64
screen           object
cpu              object
ram               int32
storage          object
gpu              object
os               object
os_version       object
weight           object
price_euros      object
dtype: object

## Renaming Columns

In [164]:
laptops.rename({"screen_size": "screen_size_inches"}, axis=1, inplace=True)

laptops.rename({"ram": "ram_gb"}, axis=1, inplace=True)

In [165]:
ram_gb_desc = laptops['ram_gb'].describe()
ram_gb_desc

count    1303.000000
mean        8.382195
std         5.084665
min         2.000000
25%         4.000000
50%         8.000000
75%         8.000000
max        64.000000
Name: ram_gb, dtype: float64

## Extracting Values from Strings

In [166]:
laptops["gpu_manufacturer"] = laptops["gpu"].str.split().str[0]

In [167]:
laptops["cpu_manufacturer"] = laptops['cpu'].str.split().str[0]

In [168]:
cpu_manufacturer_counts = laptops["cpu_manufacturer"].value_counts()
cpu_manufacturer_counts

Intel      1240
AMD          62
Samsung       1
Name: cpu_manufacturer, dtype: int64

## Correcting Bad Values

In [169]:
print(laptops['os'].unique())
print(laptops["os"].value_counts())

['macOS' 'No OS' 'Windows' 'Mac OS' 'Linux' 'Android' 'Chrome OS']
Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          13
Mac OS          8
Android         2
Name: os, dtype: int64

In [170]:
mapping_dict = {
    'Android': 'Android',
    'Chrome OS': 'Chrome OS',
    'Linux': 'Linux',
    'Mac OS': 'macOS',
    'No OS': 'No OS',
    'Windows': 'Windows',
    'macOS': 'macOS'
}

laptops['os'] = laptops['os'].map(mapping_dict)

In [171]:
laptops['os'].unique()

array(['macOS', 'No OS', 'Windows', 'Linux', 'Android', 'Chrome OS'],
      dtype=object)

## Dropping Missing Values

there are various ways to deal with missing values:

* Remove any rows that have missing values.
* Remove any columns that have missing values.
* Fill the missing values with some other value.
* Leave the missing values as is.

In [172]:
laptops.isnull().sum()

manufacturer            0
model_name              0
category                0
screen_size_inches      0
screen                  0
cpu                     0
ram_gb                  0
storage                 0
gpu                     0
os                      0
os_version            170
weight                  0
price_euros             0
gpu_manufacturer        0
cpu_manufacturer        0
dtype: int64

In [173]:
laptops_no_null_rows = laptops.dropna()

laptops_no_null_cols = laptops.dropna(axis=1)

In [174]:
laptops_no_null_rows.isnull().sum()

manufacturer          0
model_name            0
category              0
screen_size_inches    0
screen                0
cpu                   0
ram_gb                0
storage               0
gpu                   0
os                    0
os_version            0
weight                0
price_euros           0
gpu_manufacturer      0
cpu_manufacturer      0
dtype: int64

## Filling Missing Values

In [175]:
print(laptops["os_version"].value_counts(dropna=False))

10      1072
NaN      170
7         45
10 S       8
X          8
Name: os_version, dtype: int64

**通过观察os的值来推测os_version缺失的原因，通过相关的列进行分析缺失原因也是一种思路**

In [176]:
value_counts_before = laptops.loc[laptops["os_version"].isnull(), "os"].value_counts()

laptops.loc[laptops["os"] == "macOS", "os_version"] = "X"
laptops.loc[laptops["os"] == "No OS", "os_version"] = "Version Unknown"

value_counts_after = laptops.loc[laptops["os_version"].isnull(), "os"].value_counts()

In [177]:
print(value_counts_before)
print(value_counts_after)

No OS        66
Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64
Linux        62
Chrome OS    27
Android       2
Name: os, dtype: int64

## Challenge: Clean a String Column

In [178]:
laptops['weight'].unique()

array(['1.37kg', '1.34kg', '1.86kg', '1.83kg', '2.1kg', '2.04kg', '1.3kg',
       '1.6kg', '2.2kg', '0.92kg', '1.22kg', '0.98kg', '2.5kg', '1.62kg',
       '1.91kg', '2.3kg', '1.35kg', '1.88kg', '1.89kg', '1.65kg',
       '2.71kg', '1.2kg', '1.44kg', '2.8kg', '2kg', '2.65kg', '2.77kg',
       '3.2kg', '0.69kg', '1.49kg', '2.4kg', '2.13kg', '2.43kg', '1.7kg',
       '1.4kg', '1.8kg', '1.9kg', '3kg', '1.252kg', '2.7kg', '2.02kg',
       '1.63kg', '1.96kg', '1.21kg', '2.45kg', '1.25kg', '1.5kg',
       '2.62kg', '1.38kg', '1.58kg', '1.85kg', '1.23kg', '1.26kg',
       '2.16kg', '2.36kg', '2.05kg', '1.32kg', '1.75kg', '0.97kg',
       '2.9kg', '2.56kg', '1.48kg', '1.74kg', '1.1kg', '1.56kg', '2.03kg',
       '1.05kg', '4.4kg', '1.90kg', '1.29kg', '2.0kg', '1.95kg', '2.06kg',
       '1.12kg', '1.42kg', '3.49kg', '3.35kg', '2.23kg', '4.42kg',
       '2.69kg', '2.37kg', '4.7kg', '3.6kg', '2.08kg', '4.3kg', '1.68kg',
       '1.41kg', '4.14kg', '2.18kg', '2.24kg', '2.67kg', '2.14kg',
       '1.36kg', '2.25kg', '2.15kg', '2.19kg', '2.54kg', '3.42kg',
       '1.28kg', '2.33kg', '1.45kg', '2.79kg', '1.84kg', '2.6kg',
       '2.26kg', '3.25kg', '1.59kg', '1.13kg', '1.78kg', '1.10kg',
       '1.15kg', '1.27kg', '1.43kg', '2.31kg', '1.16kg', '1.64kg',
       '2.17kg', '1.47kg', '3.78kg', '1.79kg', '0.91kg', '1.99kg',
       '4.33kg', '1.93kg', '1.87kg', '2.63kg', '3.4kg', '3.14kg',
       '1.94kg', '1.24kg', '4.6kg', '4.5kg', '2.73kg', '1.39kg', '2.29kg',
       '2.59kg', '2.94kg', '1.14kg', '3.8kg', '3.31kg', '1.09kg',
       '3.21kg', '1.19kg', '1.98kg', '1.17kg', '4.36kg', '1.71kg',
       '2.32kg', '4.2kg', '1.55kg', '0.81kg', '1.18kg', '2.72kg',
       '1.31kg', '0.920kg', '3.74kg', '1.76kg', '1.54kg', '2.83kg',
       '2.07kg', '2.38kg', '3.58kg', '1.08kg', '2.20kg', '2.75kg',
       '1.70kg', '2.99kg', '1.11kg', '2.09kg', '4kgs', '3.0kg', '0.99kg',
       '3.52kg', '2.591kg', '2.21kg', '3.3kg', '2.191kg', '2.34kg',
       '4.0kg'], dtype=object)

In [179]:
laptops['weight'] = laptops['weight'].str.replace('kg', '')
laptops['weight'] = laptops['weight'].str.replace('s', '')
laptops['weight'] = laptops['weight'].astype(float)

In [180]:
laptops.rename({'weight': 'weight_kg'}, axis=1, inplace=True)

In [181]:
laptops.to_csv('laptops_cleaned.csv', index=False)

## Summarization

![Jupyter](./cleaning_workflow.svg)

## Questions

Our data set is ready for some analysis, but there are still some data cleaning tasks left! Here are your next steps:

* Convert the `price_euros` column to a numeric dtype.
* Extract the screen resolution from the `screen` column.
* Extract the processor speed from the 1`cpu` column.

In [182]:
laptops['price_euros'] = laptops['price_euros'].str.replace(',','').astype(float)

In [183]:
laptops['resolution'] = laptops['screen'].str.split().str[-1]

In [184]:
laptops['cpu_speed_ghz'] = laptops['cpu'].str.replace('GHz', '').str.split().str[-1].astype(float)

In [185]:
laptops.head()
laptops.to_csv('laptops_more_cleaned.csv')

Here are some questions you might like to answer in your own time by analyzing the cleaned data:

* Are laptops made by Apple more expensive than those made by other manufacturers?
* What is the best value laptop with a screen size of 15" or more?
* Which laptop has the most storage space?

In [186]:
apples = laptops[laptops['manufacturer'] == 'Apple']
others = laptops[laptops['manufacturer'] != 'Apple']

In [187]:
print(apples['price_euros'].mean())
print(others['price_euros'].mean())

156419.85714285713
111647.11232449298

In [188]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   manufacturer        1303 non-null   object
 1   model_name          1303 non-null   object
 2   category            1303 non-null   object
 3   screen_size_inches  1303 non-null   float64
 4   screen              1303 non-null   object
 5   cpu                 1303 non-null   object
 6   ram_gb              1303 non-null   int32
 7   storage             1303 non-null   object
 8   gpu                 1303 non-null   object
 9   os                  1303 non-null   object
 10  os_version          1212 non-null   object
 11  weight_kg           1303 non-null   float64
 12  price_euros         1303 non-null   float64
 13  gpu_manufacturer    1303 non-null   object
 14  cpu_manufacturer    1303 non-null   object
 15  resolution          1303 non-null   object
 16  cpu_speed_ghz       1303 non-null   float64
dtypes: float64(4), int32(1), object(12)
memory usage: 168.1+ KB

In [189]:
laptops['storage'].unique()

array(['128GB SSD', '128GB Flash Storage', '256GB SSD', '512GB SSD',
       '500GB HDD', '256GB Flash Storage', '1TB HDD',
       '32GB Flash Storage', '128GB SSD +  1TB HDD',
       '256GB SSD +  256GB SSD', '64GB Flash Storage',
       '256GB SSD +  1TB HDD', '256GB SSD +  2TB HDD', '32GB SSD',
       '2TB HDD', '64GB SSD', '1TB Hybrid', '512GB SSD +  1TB HDD',
       '1TB SSD', '256GB SSD +  500GB HDD', '128GB SSD +  2TB HDD',
       '512GB SSD +  512GB SSD', '16GB SSD', '16GB Flash Storage',
       '512GB SSD +  256GB SSD', '512GB SSD +  2TB HDD',
       '64GB Flash Storage +  1TB HDD', '1GB SSD', '1TB HDD +  1TB HDD',
       '32GB HDD', '1TB SSD +  1TB HDD', '512GB Flash Storage',
       '128GB HDD', '240GB SSD', '8GB SSD', '508GB Hybrid',
       '512GB SSD +  1TB Hybrid', '256GB SSD +  1TB Hybrid'], dtype=object)

In [190]:
test = laptops['storage'].unique().tolist()

In [191]:
test

['128GB SSD',
 '128GB Flash Storage',
 '256GB SSD',
 '512GB SSD',
 '500GB HDD',
 '256GB Flash Storage',
 '1TB HDD',
 '32GB Flash Storage',
 '128GB SSD +  1TB HDD',
 '256GB SSD +  256GB SSD',
 '64GB Flash Storage',
 '256GB SSD +  1TB HDD',
 '256GB SSD +  2TB HDD',
 '32GB SSD',
 '2TB HDD',
 '64GB SSD',
 '1TB Hybrid',
 '512GB SSD +  1TB HDD',
 '1TB SSD',
 '256GB SSD +  500GB HDD',
 '128GB SSD +  2TB HDD',
 '512GB SSD +  512GB SSD',
 '16GB SSD',
 '16GB Flash Storage',
 '512GB SSD +  256GB SSD',
 '512GB SSD +  2TB HDD',
 '64GB Flash Storage +  1TB HDD',
 '1GB SSD',
 '1TB HDD +  1TB HDD',
 '32GB HDD',
 '1TB SSD +  1TB HDD',
 '512GB Flash Storage',
 '128GB HDD',
 '240GB SSD',
 '8GB SSD',
 '508GB Hybrid',
 '512GB SSD +  1TB Hybrid',
 '256GB SSD +  1TB Hybrid']

In [192]:
def clean_storage(storage):

    storage = storage.replace('SSD', '')
    storage = storage.replace('HDD', '')
    storage = storage.replace('Flash Storage', '')
    storage = storage.replace('Hybrid', '')
    storage = storage.replace(' ', '')
    storage = storage.split('+')
    for i, item in enumerate(storage):
        if item.endswith('GB'):
            storage[i] = int(item.replace('GB',''))
        if item.endswith('TB'):
            storage[i] = int(item.replace('TB',''))*1024
    storage = sum(storage)
    return storage

In [193]:
list(map(clean_storage, test))

[128,
 128,
 256,
 512,
 500,
 256,
 1024,
 32,
 1152,
 512,
 64,
 1280,
 2304,
 32,
 2048,
 64,
 1024,
 1536,
 1024,
 756,
 2176,
 1024,
 16,
 16,
 768,
 2560,
 1088,
 1,
 2048,
 32,
 2048,
 512,
 128,
 240,
 8,
 508,
 1536,
 1280]

In [194]:
laptops['storage_capacity_gb'] = laptops['storage'].map(clean_storage)

In [203]:
laptops.iloc[[laptops['storage_capacity_gb'].idxmax()]]

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,os,os_version,weight_kg,price_euros,gpu_manufacturer,cpu_manufacturer,resolution,cpu_speed_ghz,storage_capacity_gb
370,Asus,ZenBook Flip,2 in 1 Convertible,15.6,Full HD / Touchscreen 1920x1080,Intel Core i7 7500U 2.7GHz,12,512GB SSD + 2TB HDD,Nvidia GeForce GT 940MX,Windows,10,2.26,109900.0,Nvidia,Intel,1920x1080,2.7,2560